# -- Replica count for the deployment. It is not advised to run more than one replica.
replicaCount: 1
image:
  # -- Default image repository
  repository: quay.io/argoprojlabs/argocd-image-updater
  # -- Default image pull policy
  pullPolicy: Always
  # -- Overrides the image tag whose default is the chart appVersion
  tag: ""

# -- The deployment strategy to use to replace existing pods with new ones
updateStrategy:
  type: Recreate
# -- ImagePullSecrets for the image updater deployment
imagePullSecrets: []
# -- Global name (argocd-image-updater.name in _helpers.tpl) override
nameOverride: ""
# -- Global fullname (argocd-image-updater.fullname in _helpers.tpl) override
fullnameOverride: ""

# -- Extra arguments for argocd-image-updater not defined in `config.argocd`.
# If a flag contains both key and value, they need to be split to a new entry
extraArgs: []
  # - --disable-kubernetes
  # - --dry-run
  # - --health-port
  # - 8080
  # - --interval
  # - 2m
  # - --kubeconfig
  # - ~/.kube/config
  # - --match-application-name
  # - staging-*
  # - --max-concurrency
  # - 5
  # - --once
  # - --registries-conf-path
# - /app/config/registries.conf

# -- Extra environment variables for argocd-image-updater
extraEnv: []
  # - name: AWS_REGION
#   value: "us-west-1"

# -- Init containers to add to the image updater pod
initContainers: []
  #  - name: download-tools
  #    image: alpine:3.8
  #    command: [sh, -c]
  #    args:
  #      - wget -qO- https://get.helm.sh/helm-v2.16.1-linux-amd64.tar.gz | tar -xvzf - &&
  #        mv linux-amd64/helm /custom-tools/
  #    volumeMounts:
  #      - mountPath: /custom-tools
#        name: custom-tools

# -- Additional volumeMounts to the image updater main container
volumeMounts: []

# -- Additional volumes to the image updater pod
volumes: []
  ## Use init containers to configure custom tooling
  ## https://argo-cd.readthedocs.io/en/stable/operator-manual/custom_tools/
  ## When using the volumes & volumeMounts section bellow, please comment out those above.
  #  - name: custom-tools
#    emptyDir: {}

config:
  # -- API kind that is used to manage Argo CD applications (`kubernetes` or `argocd`)
  applicationsAPIKind: ""

  # Described in detail here https://argocd-image-updater.readthedocs.io/en/stable/install/running/#flags
  argocd:
    # -- Use the gRPC-web protocol to connect to the Argo CD API
    grpcWeb: true
    # -- Connect to the Argo CD API server at server address
    serverAddress: ""
    # -- If specified, the certificate of the Argo CD API server is not verified.
    insecure: true
    # -- If specified, use an unencrypted HTTP connection to the ArgoCD API instead of TLS.
    plaintext: false
    # -- If specified, the secret with ArgoCD API key will be created.
    token: ""

  # -- Disable kubernetes events
  disableKubeEvents: false

  # -- Username to use for Git commits
  gitCommitUser: "rockemsockem"

  # -- E-Mail address to use for Git commits
  gitCommitMail: "theautomationrules@gmail.com"

  # -- Changing the Git commit message
  gitCommitTemplate: "Commit from ArgoCD Imagen Updater"

  # -- ArgoCD Image Update log level
  logLevel: "info"

  # -- ArgoCD Image Updater registries list configuration. More information [here](https://argocd-image-updater.readthedocs.io/en/stable/configuration/registries/)
  registries: #[]
    # - name: GitHub Container Registry
    #   prefix: ghcr.io
    #   api_url: https://ghcr.io
    #   ping: no
    #   insecure: true
    #   credentials: secret:argocd/git-credentials#creds
    # - name: Docker Hub
    #   api_url: https://registry-1.docker.io
    #   ping: yes
    #   credentials: secret:argocd/docker-credentials#creds
    #   defaultns: library
    # - name: Google Container Registry
    #   api_url: https://gcr.io
    #   prefix: gcr.io
    #   ping: no
    #   credentials: pullsecret:foo/bar
    # - name: RedHat Quay
    #   api_url: https://quay.io
    #   ping: no
    #   prefix: quay.io
    #   credentials: env:REGISTRY_SECRET
    - name: ECR
      api_url: https://127012818163.dkr.ecr.us-east-1.amazonaws.com
      prefix: 127012818163.dkr.ecr.us-east-1.amazonaws.com
      default: true
      ping: yes
      insecure: no
      # credentials: ext:/scripts/ecr-login.sh
      # credentials: AWS:eyJwYXlsb2FkIjoiR2FCMVZrYUpkaVFhK2tDMnRCQkNaYWtmVTluSzAvbTcwa2FhblcrNDFOaDN4VHhvQUJ2cE1WZ3d3a1g0MER2bjg0U2tDMTFGaXRXQzlOMmZxOEFpUVY4MWpwTmtUOFJWM3ZLdFpEeTRmNnVuUUVIYy8zVkErUW96MmFGRTl4TDZDL0tUa3YzblpPdnpPTVMwUjhCRXB1N0hKeDVuMW9aTlBNdGJaemNYMmd2VkRVSk9rclM1cHVMMlNHS3RUazJJNGNRVXlJSkpmaURkNHVtNU1zb0VodjRSSnNUTTZrYU93Qm9kenZobFBLOVFzM05Nc0RsSnhqUStGWEpwOG9CYzJaZFcwY1pxT3d3Zzd6bUN6cUJ5WHhBZTFUUFUzd005UXJRelNrVTVQc21wN3RaUDhYMHpKZno1MGd5RkJCTHdJejVxbTBqME9HNTlCRkJ1RWswbEduTkoxMG85UVQvTGRsdlZLSHhQQ3Jzeldidlp5S1BOTXplT01QWitXbk1aUEpIRFV1TTFJc1FrT0d3THoxZndpL012dHZDOFVqNkxpamhxNlFEVTJ1THlDcVpCQUVkVG5NaVM2WkhNdFJEeVdsTTV0QzV5L1pGSk9VYUMyeVoyMElTaGlNM2FQQllnMUozS25DYkNTQjg1cW1RbUdjZlhkZVFKT2hPWk1Wb0NoTm5HV0wzM3VleDRxVlBkcXhSdTFMMVNCdmwxU0hKS0g3Vno0VXRiaE80ajBMaTJEVlE4b1U4VHFhbkRmRTEwT1BpeWx4QmJUTFIydkMwR1dySlJHbVlERXFUTUxQZnJpMS8vcmNEUVArWnk3OUNTZ0svWUUyRGJmM1o1NVdnVVg1MHN6MFE5eUFkV2MxTkpSSmRoTnN1WFZpaGJUejVUTm9sM1lET2h4VVNza3I3Y2o2MWZuNE52RERlaG8rSDJCaDhqZ2s0dmhDZ0tnUkoveTlTSE9xMUxhaDB5NzlweTJqMlpOcGhuYlVMTmFta0FUTnJQb0wreUxYK2RwdE5wZnQ2bDYya2Q1SnNUVEU0VWthMWxKMVZCaS9Yb2NWSVN5RG0rN0RRQ0drckVpQzNvQWxJVC9aQnB3U0RPVUtOeGZzdlpZT1ZIbFlMRHdLSisrKzBNTDErUUhhTEdYQmJsWGpxQTY0OFoxeTh2anFUdEFhUFB4bHJ3UnBuWHhZZzNpcTh1THZwN0hSTHNQTmZ1VUVtTGJaUHVPU1h3aVVQaWF3TVNyd0tqMWtkallpcHVrbGFWNmhBbHpNV0pjZW9YVWZTVGVmeUsrOG9JMHIrUnNtMythTFM4YzhrMjg0UDVKdHhLWXRRN2lZc3JBOE5HRG5OTmpMSUxBWFhpa0loZjAzYkpGOXpEaG5OZXJIYzJSUT09IiwiZGF0YWtleSI6IkFRRUJBSGh3bTBZYUlTSmVSdEptNW4xRzZ1cWVla1h1b1hYUGU1VUZjZTlScTgvMTR3QUFBSDR3ZkFZSktvWklodmNOQVFjR29HOHdiUUlCQURCb0Jna3Foa2lHOXcwQkJ3RXdIZ1lKWUlaSUFXVURCQUV1TUJFRURNM3oxZlhFVHNPYzQrSXh4QUlCRUlBNzhUUk9ZbTM3K1E2Q0sxYTBEUEtGZ2VRb0JBN0hJdUoyME11M1pxRFc2QzdFeUZsdWJxeTh5TDBqVllzSStndUhId1pHREt2bGpYSnVZTGM9IiwidmVyc2lvbiI6IjIiLCJ0eXBlIjoiREFUQV9LRVkiLCJleHBpcmF0aW9uIjoxNjc5MDYyMTYwfQ==
      credsexpire: 10h

  # -- ArgoCD Image Updater ssh client parameter configuration.
  sshConfig:
    {}
    #  config: |
    #    Host *
    #          PubkeyAcceptedAlgorithms +ssh-rsa
  #          HostkeyAlgorithms +ssh-rsa

# whether to mount authentication scripts, if enabled, the authentication scripts will be mounted on /scripts that can be used to authenticate with registries (ECR)
# refer to https://argocd-image-updater.readthedocs.io/en/stable/configuration/registries/#specifying-credentials-for-accessing-container-registries for more info
authScripts:
  # -- Whether to mount the defined scripts that can be used to authenticate with a registry, the scripts will be mounted at `/scripts`
  enabled: true
  # -- Map of key-value pairs where the key consists of the name of the script and the value the contents
  scripts: 
    ecr-login.sh: |   # notice script name matches above    
      #!/bin/sh
      aws ecr --region us-east-1 get-authorization-token --output text --query 'authorizationData[].authorizationToken' | base64 -d
    # auth1.sh: |
    #   #!/bin/sh
    #   echo "auth script 1 here"
    # auth2.sh: |
    #   #!/bin/sh
  #   echo "auth script 2 here"

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- Pod Annotations for the deployment
podAnnotations: {}

# -- Pod security context settings for the deployment
podSecurityContext: {}
# fsGroup: 2000

# -- Security context settings for the deployment
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
# runAsUser: 1000

rbac:
  # -- Enable RBAC creation
  enabled: true

# -- Pod memory and cpu resource settings for the deployment
resources: {}

# -- Kubernetes nodeSelector settings for the deployment
nodeSelector: {}

# -- Kubernetes toleration settings for the deployment
tolerations: []

# -- Kubernetes affinity settings for the deployment
affinity: {}

# Metrics configuration
metrics:
  # -- Deploy metrics service
  enabled: false
  service:
    # -- Metrics service annotations
    annotations: {}
    # -- Metrics service labels
    labels: {}
    # -- Metrics service port
    servicePort: 8081
  serviceMonitor:
    # -- Enable a prometheus ServiceMonitor
    enabled: false
    # -- Prometheus ServiceMonitor interval
    interval: 30s
    # -- Prometheus [RelabelConfigs] to apply to samples before scraping
    relabelings: []
    # -- Prometheus [MetricRelabelConfigs] to apply to samples before ingestion
    metricRelabelings: []
    # -- Prometheus ServiceMonitor selector
    selector: {}
    # promtheus: kube-prometheus

    # -- Prometheus ServiceMonitor namespace
    namespace: ""
    # -- Prometheus ServiceMonitor labels
    additionalLabels: {}