apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: argocd-imageupdater-app
  template:
    metadata:
      labels:
        app: argocd-imageupdater-app
    spec:
      containers:
        - image: 127012818163.dkr.ecr.us-east-1.amazonaws.com/argocd
          name: api-container
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
      imagePullSecrets:
        - name: mycontainerregistry-secret
          
