apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo-arm
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nginx-demo-arm
  template:
    metadata:
      labels:
        app: nginx-demo-arm
    spec:
      containers:
        - image: public.ecr.aws/h6r8z1x6/argocd2
          name: nginx-demo-arm
          imagePullPolicy: Always
          ports:
            - containerPort: 80
      # imagePullSecrets:
      #   - name: regcred
          
