apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo-arm
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nginx-demo-arm
  template:
    metadata:
      labels:
        app: nginx-demo-arm
    spec:
      containers:
        - image: 127012818163.dkr.ecr.us-east-1.amazonaws.com/argocd:0.0.1
          name: nginx-demo-arm
          imagePullPolicy: Always
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: AWS:eyJwYXlsb2FkIjoicXdVYTFRN2pJSVl1L1Jpc0RRR1FVL2lOV0ptZEpocWJUWGhQVlRYMXpOanNDTjRybm1BV29JWGRwMVZiOEJ0OGE1dG5mcFhHRncyU3I0VENsMldJZFh6VjBtNWJraHNRVWdlalMxd01pbGxlNjBLVDQ1SWlWQXRyQzNzSHcyekFlSW5xcDMybCtQR0xSS0tMbkc1eWdaUjVLVkdOQzFPYjNxazkrVHlYQ1MvSnZOOTRXL2Q0ekFPNUR3MW9aQ1V5MkthY0tzbGNtSUxTQVJuZDVFMDhMU0JLSVE4VjZxRVdRWnloNThEMGpFd3BnV29LOXh3WVVpTkxkVU5naXk5VmcwdTJjajYwYlRHNUJZNFNuWHAySDN2NlRaSkNMMjdabW40SmlNdnNybFJyZ3hueUJCMVdjcFdBRUNEbW1Na0tYeC9FejRmNjU5VnkwM0VUOTlTTFRPRDYxTjNkNFlEc2VVVnpLUk5DK0FpSzFiNkh5T2d3VUE5TytlZjkrMWJLYXZuZEJ2Q21EYVlmMjA2cUtUbUo1NUVYaFpvRTkxUGhCRHFiWm44NWFOSmlhcDF6a0wwUldoQXk4MlFVenkxY3JUbVkvekQydk9GRXJxQnZzbWFPNUNGd1dzc1pTL3Z6a1JCeFNBN1pyYkRiQUcrV3NIcW8zS0xiTGFRQXBlYlphZGg3eGxyMzRLck94NzF1VWRPNXRxQ1FzckgrQWIzN1hUWWkrcFkrbVlqWGVjZ1ZvMGJvNG84QjllNEVzMXFCMDNHRC9idDUrN1lNS2hqMVl5N0xKSHRoS0wxZkExcVV3Mm44T2d1bUJsdFlENnhIOXhZODN0VEYxQ3dVdGswVjdORzk1d3VLZ2Q2Wi9qeUhyaU9MREVKUmFnS3MxUmd5S2Q4dUVXSE1qdmw5NkEzZlI2OUgyVVh6RHZiQ2hvbHVrNm55UkhrWExlWTRxUUVES3ZDVEd3VG9FQWU2ajIzRkFLSTVQVksvLzNWTmxwSUtKUjRhWCtzUjZMZERTUVVSbVd0ZGUwVFBHZW4yb2NlRWprTUc3QU5PRzlFS3RaUHpMNEJwekNsZC9UQVJ0VHk2UTY1a3VuRFpaSFZKYk9aZ0JXSHhQR2RUNk9XNUwvMFFaRXpnNUw2RjZ0OGdsc1BNaDZsR2w5d0hHUUlYdVpDaURLRzQ1akRLL0JFblVrd2ZvbC9OOEYvZXRFR0NWdGR0WnNKZnpUQnpuRFJMcnM0RUF0TlI2WWVpdENyZ1RnTThDYSsycnZkeVNQRlJYN0hqbDBFa2pSekJTQ1o1aEZPNWxvU3hTSUppR2tGWlg2ZWlydkFPc0pHZGVtKy8yeFE0SktVcFo1RUd5ODNWb2lnU0I0QlJqNytsVWlKYS91K25IQT09IiwiZGF0YWtleSI6IkFRRUJBSGh3bTBZYUlTSmVSdEptNW4xRzZ1cWVla1h1b1hYUGU1VUZjZTlScTgvMTR3QUFBSDR3ZkFZSktvWklodmNOQVFjR29HOHdiUUlCQURCb0Jna3Foa2lHOXcwQkJ3RXdIZ1lKWUlaSUFXVURCQUV1TUJFRURFQldXZ2lWOHlvR0ZFWkdUQUlCRUlBN3o2R1JySDFkdlc2RnhYZThiVlpFdE5RMGptYUVabTdlVEFlZmJJSVkyTk5yZGRtKysxZWE1dlJNMk0xYXRKdkRnNXc0MnhDWHUxUWZXL009IiwidmVyc2lvbiI6IjIiLCJ0eXBlIjoiREFUQV9LRVkiLCJleHBpcmF0aW9uIjoxNjc5MDY0NjQwfQ==
          
