apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo-arm
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nginx-demo-arm
  template:
    metadata:
      labels:
        app: nginx-demo-arm
    spec:
      containers:
        - image: public.ecr.aws/b3p1x2b5/argocd:0.0.1
          name: nginx-demo-arm
          imagePullPolicy: Always
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: mycontainerregistry-secret
          
