apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-demo-arm
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nginx-demo-arm
  template:
    metadata:
      labels:
        app: nginx-demo-arm
    spec:
      containers:
        - image: 127012818163.dkr.ecr.us-east-1.amazonaws.com/argocd
          name: nginx-demo-arm
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          
